#detail {
  width: 100%;
  height: calc(100vh - 50px);
  background-color: var(--body__bgColor);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

#detail .content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  display: none;
}
#detail .content div {
  margin-bottom: 15px;
}

#detail .detail__content__cover {
  width: 30%;
  height: 100%;
  /*background-image: url("https://image.tmdb.org/t/p/original/yxX0nyQaTE87Odvg91lnqMU7gwT.jpg");*/
  background-size: cover;
  background-position: center center;
}

#detail .detail__content__data {
  width: 70%;
  height: 100%;
  margin-left: 20px;
}
