.detail__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  margin: 50px 0 0 72px;
  width: calc(100% - 72px);
  height: calc(100% - 50px);
  /* background-image: url("https://image.tmdb.org/t/p/original/n6bUvigpRFqSwmPp1m2YADdbRBc.jpg"); */
  background-size: cover;
  background-position: center center;
  filter: blur(3px);
  opacity: 0.5;
  z-index: -1;
}

#detail {
  width: 100%;
  height: calc(100vh - 50px);
  background-color: var(--body__bgColor);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

#detail .content {
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 1;
}

#detail .content__data {
  width: 100%;
  height: 100%;
}

#detail .data__header {
  font-size: 32px;
  margin-bottom: 20px;
}
#detail .data__header__title {
  margin-right: 25px;
}
#detail .data__header__icon {
  cursor: pointer;
}

#detail .data__info {
  display: flex;
  margin-bottom: 20px;
  font-size: 14px;
}
#detail .info__item:last-child {
  cursor: pointer;
}
#detail .info__item:not(:last-child) {
  margin-right: 15px;
}
#detail .info__genre:first-child {
  margin-left: 10px;
}

#detail .data__overview {
  width: 70%;
  opacity: 0.7;
  line-height: 1.5;
  font-size: 14px;
  margin-bottom: 20px;
}

#detail .data__recommendations {
  display: flex;
  flex-direction: column;
}

#detail .recommendations__item {
  position: relative;
  height: 230px;
  width: 146px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
#detail .recommendations__item img {
  width: auto;
  height: 230px;
  border-radius: 20px;
  transition: opacity 0.3s ease-in-out;
}
#detail .recommendations__item span {
  position: absolute;
  top: 120px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
#detail .recommendations__item:hover .recommendations__img {
  opacity: 0.3;
}
#detail .recommendations__item:hover .recommendations__title {
  opacity: 1;
}
#detail .recommendations__container {
  display: flex;
  flex-wrap: wrap;
}
#detail .recommendations__item:not(:last-child) {
  margin-right: 15px;
}
#detail .recommendations__item {
  margin-top: 20px;
}
