#home {
  max-width: 1115px;
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
#home .main__column {
  display: flex;
  flex-direction: column;
}

#home .main__sectionText {
  font-size: 20px;
  padding-left: 5px;
}
#home .main__contents {
  display: flex;
  flex-wrap: wrap;
}
#home .main__contents__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
}
#home .main__contents__item:not(:last-child) {
  margin-right: 20px;
}
#home .main__contents__item img {
  width: 120px;
  height: 180px;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}

#home .main__contents__imgBox {
  position: relative;
  margin-bottom: 10px;
}
#home .posterTitle {
  font-size: 13px;
}

#home .main__contents__textBox {
  position: absolute;
  opacity: 0;
  bottom: 10%;
  right: 23%;
  transition: all 0.35s ease-in-out;
}
#home .main__contents__textBox .fa-star {
  font-size: 12px;
  color: var(--home__starColor);
  margin-right: 5px;
}
#home .main__contents__imgBox__text {
  font-size: 14px;
}
#home
  .main__contents__item
  .main__contents__imgBox:hover
  .main__contents__textBox {
  opacity: 1;
}
#home .main__contents__item .main__contents__imgBox:hover img {
  opacity: 0.3;
}

#home .more__box {
  margin-top: 30px;
  width: 45px;
  height: 18px;
  cursor: pointer;
}
#home .more__box__text {
  color: var(--home__moreColor);
  font-size: 14px;
}

#home hr {
  width: 100%;
  background-color: var(--home__hrColor);
  color: var(--home__hrColor);
  border: 2px solid var(--home__hrColor);
  margin: 25px 0;
}
