#profile {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 50px);
  background-color: #000;
}
#profile .profile__header__bg {
  width: 100%;
  height: 125px;
  background-color: #1f1f1f;
}
#profile .profile__header {
  max-width: 1200px;
  width: 100%;
  height: 125px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#profile .profile__header__user {
  display: flex;
  align-items: center;
  padding-left: 50px;
  padding-top: 15px;
}
#profile .profile__img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 25px;
}
#profile .header__username {
  font-size: 20px;
  font-weight: 600;
}
#profile .active {
  color: #eee;
  border-bottom: 2px solid #aaa;
}
#profile .profile__header__nav ul {
  display: flex;
  align-items: center;
  color: #aaa;
}
#profile .profile__header__nav li {
  font-size: 14px;
  font-weight: 600;
  padding: 10px 20px;
  cursor: pointer;
}
#profile .profile__header__nav li:hover {
  color: #eee;
}

#profile .profile__contentsContainer {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
#profile .contents__wrapper {
  margin-top: 25px;
}
#profile .contents__title {
  margin-top: 20px;
}

#profile .likeList__container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
#profile .likeList__item {
  display: flex;
  flex-direction: column;
  margin: 0 20px 20px 0;
  cursor: pointer;
}
#profile .likeList__img {
  width: 120px;
  height: 180px;
  border-radius: 15px;
}
#profile .likeList__title {
  margin-top: 10px;
  font-size: 13px;
}
