#signIn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#signIn .required {
  color: #cb2452;
}

#signIn .signIn__border {
  border: 2px solid #aaa;
  border-radius: 10px;
  padding: 20px;
}

#signIn .signIn__column:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}
#signIn .signIn__column:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#signIn .signIn__title__first {
  margin: 10px 0;
}
#signIn .signIn__title__second {
  font-size: 36px;
}

#signIn .signIn__inputBox {
  margin: 12px 0;
  display: flex;
  flex-direction: column;
}

#signIn .signIn__input {
  width: 300px;
  height: 34px;
  padding: 4px 8px;
  color: #000;
}
#signIn .signIn__input:focus {
  border: 1px solid #2188ff;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(179, 209, 243, 1);
  -moz-box-shadow: 0px 0px 10px 3px rgba(179, 209, 243, 1);
  box-shadow: 0px 0px 10px 3px rgba(179, 209, 243, 1);
}
#signIn input[type="submit"] {
  width: 300px;
  height: 40px;
  background-color: #1074e7;
  border: none;
  border-radius: 5px;
  color: #eee;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
#signIn label {
  margin-bottom: 8px;
  font-size: 14px;
}

#signIn .signIn__footer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
#signIn .signIn__aLogin {
  font-weight: 600;
  color: peru;
}
