@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");
@import url("./util/reset.css");
@import url("./theme.css");
@import url("./header.css");
@import url("./nav.css");
@import url("./loader.css");
@import url("./home_main.css");
@import url("./search_main.css");
@import url("./detail.css");
@import url("./login_main.css");
@import url("./signin_main.css");
@import url("./list.css");
@import url("./admin_main.css");
@import url("./profile.css");

* {
  box-sizing: border-box;
}

.loggedUser {
  display: none;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--body__bgColor);
  width: 100%;
  height: 100vh;
  padding-top: 50px;
  color: var(--body__defaultColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 72px;
}
a {
  color: var(--body__defaultColor);
  text-decoration: none;
}
@media screen and (max-width: 1250px) {
  body {
    padding-left: 92px;
  }
}
@media screen and (max-width: 740px) {
  nav {
    display: none;
  }
  body {
    padding: 50px 20px 0 20px;
  }
  header #form,
  header #form__btn {
    display: flex;
  }
  header .header__column:nth-child(2) input[type="text"] {
    width: 200px;
  }
}
@media screen and (max-width: 500px) {
  header #form,
  header #form__btn {
    display: none;
  }
  header .header__column:nth-child(2) input[type="text"] {
    width: 70vw;
  }
  header #loginStatus .mobile__search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }
}
